* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.containertodo {
    display:flex;
    max-width: 100vw;
}
.sidebar {
    height: 100vh;
    max-width: 500px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.container1 {
    display:flex;
    
}

.texto {
    padding: 15px;
}

.contenedor_profile {
    height: 150px;
    padding-left: 40px;
    padding-top: 20px;
    display: flex;
    gap: 30px;
    border: 2px groove gray;
    justify-content: space-between;
}

.avatarprofile {
    object-fit: cover;
    width: 100%;
    height: 90px;
    border-radius: 9999px;
}

.contenedor_avatar {
    height: 150px;
    padding-left: 50px;
    padding-top: 20px;
    display: flex;
    gap: 30px;
    border: 2px groove gray;
    
    
}
.imgcontainer {
    height: 100px;
    width: 100px;
    display:flex;
    
}
.avatar {
    object-fit: cover;
    width: 100%;
    height: 100px;
    border-radius: 9999px;
}

.contenedoriconos {
    display: flex;
    justify-content: end;
    padding-right: 20px;
    padding-bottom: 20px;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    opacity: 0.7;
}

.contenedor_nuevochat {
    height: 270px;
    width: 500px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 2px groove gray;
}

.cajachat {
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    opacity: 0.5
}

.cajachat > button {
    font-size: 30px;
    width: 350px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(90, 32, 138);
    color: whitesmoke;
}

.texto {
   display: flex;
   flex-direction: column;
   margin-top: 12px;
}

.texto > small {
    font-size: 25px;

}

h1 {
    font-size: 26px;
}

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 15px;
}

.textoprincipal > h1 {
    font-size: 80px;
}

.textosecundario > p {
    font-size: 35px;
    text-align: center;
}